/*!
 *
 * Brajeshwar
 * http://brajeshwar.me
 *
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 1em auto;
  width: 80%;
  max-width: 1000px;
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  line-height: 18px;
  color: #333333;
  background: #fafafa;
  text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:focus,
a:active {
  outline: 0;
  color: #005580;
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

pre,
code,
kbd,
samp {
  font-family: Menlo, "Courier New", Courier, monospace;
  _font-family: Menlo, "Courier New", Courier, monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

hr {
  margin: 0.5em 0;
  border: 0;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

.data-display {
  height: 100%;
  overflow: scroll;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #aaaaaa;
  background: white;
  margin: 1em auto;
}
table caption {
  font-style: italic;
  font-size: smaller;
  text-align: right;
  padding: 0.2em 0.1em;
}
table th,
table td {
  padding: 4px 5px;
  line-height: 18px;
  font-family: Menlo, "Courier New", Courier, monospace;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #aaaaaa;
}
table thead th {
  padding: 8px 5px;
  font-weight: bold;
  background: #555555;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  vertical-align: bottom;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody td {
  font-size: 90%;
}
table tbody th {
  padding: 8px 5px;
  font-weight: bold;
}
table tbody + tbody {
  border-top: 2px solid #5d5d5d;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #aaaaaa;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f1f1f1;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #ffffcc;
}
table a {
  display: block;
}
table tbody th {
  background: #fff4e2 !important;
  text-transform: uppercase;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
}
table tbody th:before {
  content: "\2192";
  margin-left: -35px;
  margin-right: 20px;
}

/* Scroll to Top */
.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 50px;
}
.scroll-top a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  padding: 0.5em 1em;
  display: block;
  font-size: small;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  color: #eeeeee;
  background: #555555;
}
.scroll-top a:hover {
  color: white;
  background: #333333;
  text-shadow: black 0 1px 0;
}

/* menu */
.menu {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 36px;
  border: 1px solid #e5e5e5;
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top bottom, #f5f5f5, #eeeeee);
  background-image: -moz-linear-gradient(top bottom, #f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(top bottom, #f5f5f5, #eeeeee);
  background-image: linear-gradient(top bottom, #f5f5f5, #eeeeee);
}

.menu .nav {
  margin: 0;
  padding: 0;
}

.menu .nav > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
}

.menu .nav > .active > a,
.menu .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
}

.menu .nav > .active > a .caret,
.menu .nav > .active > a:hover .caret {
  border-top-color: #777;
}

.menu .nav > li:first-child > a,
.menu .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.menu .nav > li:last-child > a {
  border-right: 0;
}

.menu .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* Fixed menu on scroll, but only for 980px and up */
@media (min-width: 980px) {
  .menu-fixed {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    border-color: #d5d5d5;
    border-width: 0 0 1px;
  }

  .menu-fixed .nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 1px;
  }

  .menu .nav > li:first-child > a,
  .menu .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  .data-head-fixed {
    visibility: hidden;
    position: fixed;
    top: 35px;
    width: 1000px;
    z-index: 10;
    background: yellow;
  }
  .data-head-fixed table {
    margin: 0;
    border-color: black;
  }
}
.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-tabs,
.nav-pills {
  overflow: hidden;
  *zoom: 1;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.nav-pills .active > a,
.nav-pills .active > a:hover {
  color: white;
  background-color: #0088cc;
}

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}

.social {
  margin: 1em 0;
  color: #999999;
}
